<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	
	<!-- Asi obtienes una excepcion al crearse el bean y no cuando se hace alguna operacion con el objeto nulo -->
	<!-- Busca todas las etiquetas @Requiered en las clases (aplica al Circulo) -->
	<!-- <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/> -->
	<!-- Busca todas las etiquetas @Autowired en las clases (aplica al Circulo) -->
	<!-- <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" /> -->
	
	<!-- Remplaza todo lo anterior, asi no tienes de definir una clase por cada anotacion-->
	<context:annotation-config />
	
	<bean id="circulo" class="com.spring.demo.Circulo" >
	</bean>
		
	<!-- Informa de creacion y eliminacion usando interfaces -->
	<bean id="triangulo" class="com.spring.demo.Triangulo" autowire="byName">
	</bean>
	
	<!-- Informa de creacion y eliminacion usando metodos personalizados -->
	<bean id="cuadrado" class="com.spring.demo.Cuadrado">
		<property name="puntos">
			<list>
				<ref bean="puntoA"/>
				<ref bean="puntoB"/>
				<ref bean="puntoC"/>
				<ref bean="puntoD"/>
			</list>
		</property>
	</bean>

	
	<!-- CONTRUSTORES -->
	<bean id="puntoA" class="com.spring.demo.Punto">
		<qualifier value="aliasCentro" />
		<property name="x" value="10"/>
		<property name="y" value="0"/>
	</bean>
	<bean id="puntoB" class="com.spring.demo.Punto">
		<property name="x" value="-10"/>
		<property name="y" value="0"/>
	</bean>
	<bean id="puntoC" class="com.spring.demo.Punto">
		<property name="x" value="0"/>
		<property name="y" value="10"/>
	</bean>
	<bean id="puntoD" class="com.spring.demo.Punto">
		<property name="x" value="10"/>
		<property name="y" value="10"/>
	</bean>
	
	
</beans>
